body {
  text-align: center;
}

.cell {
  height: 30px;
  width: 30px;
  border: 1.5px solid grey;
  border-style: inset;
}

.dead {
  background-color: white;
}

.alive {
  background-color: rgb(227, 8, 8);
}

.hidden {
  height: 30px;
  width: 30px;
}

#gameBoard {
  border-spacing: 0px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
